*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.card{
    display: inline-grid;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 5px;
  }

.logo{
    margin-right: 30px;
}
.btn-social-icon{
    margin-right: 10px;
}
.p-2{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}


.my-2 a:hover{
    color: gray;

}

.btn-social-icon{
    background-color: gray;
}

h1{
    margin: 20px;
}