{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="about">
        <div class="message">
            <h3>Ремесленник</h3>
            <h2>Голосной Анатолий</h2>
            <h3>Свяжитесь со мной</h3>
            <h5>Понедельник - Пятница</h5>
            <h5>9.00 - 18.00</h5>
            <h4>Телефон, Viber, Telegram: +375 29 295-23-24</h4>
            <h3>г.Полоцк</h3>

        </div>
        <div class="check">
            <h5>Чек оплаты за ремесленную деятельность</h5>
            <img src="/static/check2021.jpg" alt="" width="350">
        </div>
    </div>

{% endblock %}