<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
          integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/bootstrap-social.css">
    <link rel="shortcut icon" href="/static/Halasny.png" type="image/png">
    <title>{% block title %}{{ title }}{% endblock %}</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180254129-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180254129-1');
</script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(68144527, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/68144527" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
<header>
    {% block nav %}
        <div class="top">

        </div>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm">
            <a href="{{ url_for('index') }}"><img class="logo" src="/static/Halasny.png" alt="" height="150"></a>
            <a href="{{ url_for('about') }}"><img class="avatar" src="/static/avatar.jpg" alt="" height="150"></a>
            <h5 class="my-0 mr-md-auto font-weight-normal"><b>Ремесленник Анатолий Голосной</b></h5>

            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2" href="{{ url_for('index') }}">Главная</a>
                <a class="p-2" href="{{ url_for('product') }}">Мои изделия</a>
                <a class="p-2" href="{{ url_for('guest') }}">Гостевая книга</a>
                <a class="p-2" href="{{ url_for('about') }}">Обо мне</a>
                <a class="p-2" href="{{ url_for('delivery') }}">Доставка и оплата</a>
            </nav>

        </div>
        <div class="top"></div>
    {% endblock %}
</header>
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% block content %}
    {% endblock %}
</div>
<footer>
    <div class="admin">
        <a href="{{ url_for('login') }}">Вход</a>
        © 2020 Copyright: <a href="{{ url_for('admin') }}">Anatoly Golosnoy</a>
    </div>

    <div class="social">
        <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/anatoli.halasny">
            <span class="fa fa-facebook"></span></a>
        <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/anagol69/">
            <span class="fa fa-instagram"></span>
        </a>
    </div>
</footer>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"
        integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
        integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.esm.min.js"
        integrity="sha384-Eg5XYZrb+x0FMnsSAcaUNc6vJ/6B47jQvyhan3IGKcCfko9Hq6vS3s1PviSpNbdE"
        crossorigin="anonymous"></script>
</body>
</html>