<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=“robots” content=“index,follow”>
    <meta name="keywords"
          content="Предметы декора для интерьера, Wood, хендмейд декор, таблички из дерева,
          украшения, панно, панно на стену, часы настенные, часы на стену, рустик, rustic, halasny, ремесленник,
           чайные домики, подставки под кружки, изделия из дерева, подарки, Анатолий Голосной Полоцк">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/bootstrap-social.css">
    <link rel="shortcut icon" href="/static/Halasny.png" type="image/png">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/static/sitemap.xml" />
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180254129-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-180254129-1');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(68144527, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/68144527" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
<header>
    {% block nav %}
        <div class="top"></div>
        <!--Navbar -->
{#        <nav class="mb-1 navbar navbar-expand-lg lighten-1 navbar-light">#}
{#            <button class="navbar-toggler" type="button" data-toggle="collapse"#}
{#                    data-target="#navbarSupportedContent-555"#}
{#                    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#            </button>#}
{#            <div class="collapse navbar-collapse" id="navbarSupportedContent-555">#}
{#                <ul class="navbar-nav mr-auto">#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ url_for('index') }}">Главная#}
{#                            <span class="sr-only">(current)</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ url_for('product') }}">Наши изделия</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ url_for('about') }}">Контакты</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ url_for('delivery') }}">Доставка и оплата</a>#}
{#                    </li>#}
{#                </ul>#}
{#                <a class="navbar-brand" href="{{ url_for('index') }}"><img class="logo" src="/static/Halasny.png"#}
{#                                                                                         alt=""></a>#}
{#                <ul class="navbar-nav ml-auto ">#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link p-0" href="{{ url_for('product') }}">#}
{#                            <p>Ремесленник Анатолий Голосной</p>#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#                <ul class="navbar-nav social">#}
{#                    <li class="nav-item">#}
{#                        <a class="btn btn-social-icon btn-facebook"#}
{#                           href="https://www.facebook.com/anatoli.halasny" target="_blank">#}
{#                            <span class="fa fa-facebook"></span></a>#}
{#                        <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/anagol69/" target="_blank">#}
{#                            <span class="fa fa-instagram"></span>#}
{#                        </a>#}
{##}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </nav>#}
        <!--/.Navbar -->
        <div class="top"></div>
    {% endblock %}
</header>
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% block content %}
    {% endblock %}
</div>
<footer>
{#    <div class="admin">#}
{#        <a href="{{ url_for('admin') }}">&copy; Anatoli Halasny 2020</a>#}
{#    </div>#}

</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>