{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#    <div class="pay">#}
{#        <h1>{{ title }}</h1>#}
{#        <p><b>Оформить заказ можно</b> связавшись с нами <b>в Instagram,</b> а также с помощью любого мессенджера по#}
{#            номеру#}
{#            <b>+375292952324</b>.#}
{#            <b>Для оплаты заказа</b> Вы можете использовать прямой <b>перевод на банковскую карту</b> или <b>наличные</b>.</p>#}
{#        <h2>Сроки изготовления и отправки</h2>#}
{#        <p>Все изделия изготавливаются вручную, поэтому в каждой карточке товара приведены ориентировочные сроки.#}
{#            Обратите внимание: заказ отправляется в работу только после полной оплаты.</p>#}
{#        <p>Предметы с индивидуальным дизайном — сначала согласовываем эскиз (сроки индивидуальны), затем изготавливаем#}
{#            от 1 до#}
{#            7 дней.</p>#}
{#        <p>До передачи в доставку мы обязательно свяжемся с Вами и продемонстрируем готовое изделие на фото или#}
{#            видео.</p>#}
{#        <h2>Доставка</h2>#}
{#        <p><b>Доставка осуществляется по всей территории РБ несколькими способами:</b></p>#}
{#        <p><b>Белпочта или Европочта</b> — бесплатная доставка до ближайшего к Вам почтового отделения при заказе от 50#}
{#            руб. В#}
{#            остальных случаях стоимость доставки по тарифам почтовых операторов.</p>#}
{#        <p><b>Курьерские службы</b> — стоимость в зависимости от веса и габаритов посылки, типа доставки, дальности#}
{#            отправления.#}
{#            Можно согласовать удобную Вам службу доставки.</p>#}
{#        <p><b>Самовывоз или бесплатная доставка</b> в Полоцке и Новополоцке .</p>#}
{#        <p><b>Возможна доставка в другие страны,</b> стоимость и способ согласуем в индивидуальном порядке.</p>#}
{#    </div>#}
{#{% endblock %}#}