{% extends 'base.html' %}

{% block content %}
    <div class="pay">
        <h2>{{ title }}</h2>
        <p>Оформить заказ можно связавшись с нами в Instagram, а также с помощью любого мессенджера по номеру
        +375292952324.
        Для оплаты заказа Вы можете использовать прямой перевод на банковскую карту, мы принимаем оплату наличными.</p>
        <h2>Сроки изготовления и отправки</h2>
        <p>Все изделия изготавливаются вручную, поэтому в каждой карточке товара приведены ориентировочные сроки.
            Обратите внимание: заказ отправляется в работу только после полной оплаты.</p>
        <p>Предметы с индивидуальным дизайном — сначала согласовываем эскиз (сроки индивидуальны), затем изготавливаем
            от 1 до
            7 дней.</p>
        <p>До передачи в доставку мы обязательно свяжемся с Вами и продемонстрируем готовое изделие на фото или
            видео.</p>
        <h2>Доставка</h2>
        <p>Доставка осуществляется по всей территории РБ несколькими способами.</p>
        <p>Белпочта или Европочта — бесплатная доставка до ближайшего к Вам почтового отделения при заказе от 50 руб. В
            остальных случаях
            стоимость доставки по тарифам почтовых операторов.</p>
        <p>Курьерские службы — стоимость в зависимости от веса и габаритов посылки, типа доставки, дальности
            отправления.
            Можно согласовать удобную Вам службу доставки.</p>
        <p>Самовывоз в Полоцке и Новополоцке или бесплатная доставка.</p>
        <p>Возможна доставка в другие страны, стоимость и способ согласуем в индивидуальном порядке.</p>
    </div>
{% endblock %}