{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <h1 class="halasny">Сайт в разработке</h1>

{#      <div class="wooden_door">#}
{#        <p>#}
{#            Мы предлагаем разнообразную коллекцию изделий и аксессуаров ручной работы из дерева. <br>#}
{#            Мы специализируемся на экологически чистых предметах декора из дерева для дома, а также уникальных предметах#}
{#            ручной работы, таких как деревянные ящики в деревенском стиле, подставки, панно и другие аксессуары. <br>#}
{#            Эти изделия станут прекрасным дополнением к вашей коллекции домашнего декора или красивым подарком,#}
{#            изготовленным из экологически чистых материалов, которыми можно поделиться с друзьями и семьей. <br>#}
{#            Наша цель - создавать хорошо продуманные, красивые, функциональные и индивидуальные изделия.#}
{#            Самое главное это то, что точное повторение изделия не возможно и вы будете владельцем уникального продукта.#}
{#            <br>#}
{#            Ваш дом будет украшен множеством уникальных произведений из дерева, которые просто добавят души в каждую#}
{#            комнату …… и ваша душа станет светлее и вы вдохновитесь деревенским шиком …….#}
{#        </p>#}
{#        <div class="img">#}
{#        <img src="https://images.unsplash.com/photo-1470342495351-a5f90c5011cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"#}
{#             alt="">#}
{#        </div>#}
{#    </div>#}
    </div>
{% endblock %}