{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <hr>
    <div class="product">
        {% for prod in product %}
            <div class="card" style="width: 15rem;">
                <h5 class="card-title">{{ prod['product_name'] }}</h5>
                <img src="{{ prod['product_photo'] }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{ prod['product_description'] }}</p>
                    <a href="#" class="btn btn-secondary">Подробнее</a>
                </div>

            </div>



        {% endfor %}
    </div>

{% endblock %}