{% extends 'base.html' %}
<title>{{ prod['product_name'] }}</title>

{% block content %}

<div class="main_card">
    <div class="prod_content">
        <div class="picture">
            <img class="pic" src="{{ prod['product_photo'] }}" alt="...">
        </div>

        <div class="card-body-main">

        <div class="description">
            <h2>{% block title %}{{ prod['product_name'] }}{% endblock %}</h2>
            <p>Артикул: <b>{{ prod['product_code'] }}</b></p>
            <p >{{ prod['product_description'] }}</p>
            <p>Размер: <b>{{ prod['product_size'] }} см </b></p>
{#            <p>Вес: <b>{{ prod['product_weight'] }} гр </b></p>#}
            <p>Материал: <b>{{ prod['product_material'] }}</b></p>
            <p>Срок изготовления: <b>{{ prod['product_term'] }} дней</b></p>
            <h3 class="price">Цена: {{ prod['product_price'] }} BYN</h3>
        </div>
        </div>
    </div>

</div>
     <p class="list"><a href="{{ '/product' }}">Вернуться к списку изделий</a></p>
{% endblock %}