{% extends 'base.html' %}
{% block content %}
    <div class="container text-light">
        <div class="row" style="margin-top: 40px">
            <div class="col-sm-6">
                <form method="POST">
                    <div class="form-group">
                        <label for="username">User : </label>
                        <input type="text" name="username" class="form-control" required id="user" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password : </label>
                        <input type="password" name="password" class="form-control" required id="password"
                               placeholder="Enter password">
                    </div>
                    <button type="submit" class="btn form-control btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}